html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/slide-pop.png") no-repeat center fixed;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 132px;
  background-color: #111827;
}

#logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 132px;
}

header h1 {
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: rgb(214, 214, 214);
  text-decoration: none;
  margin: 0 0.5rem;
}

ul {
  margin-left: -60px;
  list-style: none;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 80%;
  height: 80%;
}

.video-container h2 {
  color: rgb(255, 66, 66);
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}

.video-container iframe {
  width: 70%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

.video-container video {
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(214, 214, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  background-color: #111827;
}

footer span {
  width: 90%;
  font-size: 1rem;
  text-align: center;
}

/* Estilos para celulares (até 767px) */
@media (max-width: 464px) {
  .video-container h2 {
    font-size: 1.2rem;
  }
  .video-container iframe {
    width: 100%;
  }

  footer span {
    width: 90%;
    font-size: 0.6rem;
  }
}


/* Estilos para celulares (até 767px) */
@media (max-width: 767px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ul {
    margin-top: 0px;
    font-size: small;
  }

  #logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }

  .video-container iframe {
    width: 100%;
  }

  footer {
    font-size: 0.6rem;
  }
}

/* Estilos para telas de tablets (768px e acima) */
@media (min-width: 768px) {
  .video-container iframe {
    width: 100%;
  }

  footer {
    font-size: 0.4rem;
  }
}

/* Estilos para telas de desktop pequenas (1024px e acima) */
@media (min-width: 1024px) {
  .video-container iframe {
    width: 90%;
  }

  footer {
    font-size: 0.4rem;
  }
}

/* Estilos para telas de desktop grandes (1200px e acima) */
@media (min-width: 1200px) {
  .video-container iframe {
    width: 90%;
  }
  footer {
    font-size: 0.6rem;
  }
}

/* Estilos para telas de desktop grandes (1200px e acima) */
@media (min-width: 1420px) {
  .video-container iframe {
    width: 75%;
  }
  footer {
    font-size: 0.6rem;
  }
}
