html,
body {
  margin: 0;
  padding: 0;
  min-width: 350px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/slide-pop.png") no-repeat center fixed;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 132px;
  background-color: #111827;
}

#logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 132px;
}

header h1 {
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: rgb(214, 214, 214);
  text-decoration: none;
  margin: 0 0.5rem;
}

ul {
  margin-left: -60px;
  list-style: none;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.multiview-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 960px;
  height: 80%;
}

.video-container h2 {
  color: rgb(255, 66, 66);
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.title-multiview {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.video-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

.links-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 700px;
  height: 300px;
  margin-top: -2.5rem;
}

.link-app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -100px;
  width: 100%;
  gap: 1rem;
}

.link-app img {
  width: 320px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(214, 214, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  background-color: #111827;
}

footer span {
  width: 90%;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 1280px) and (max-width: 1600px) {
  header {
    height: 90px;
  }

  #aovivo {
    font-size: 1.2rem;
    margin-top: 40px;
  }

  .video-container iframe {
    width: 100%;
  }

  .title-multiview {
    font-size: 3rem;
    font-weight: 500;
  }

  .links-conatiner {
    width: 600px;
    height: 300px;
    margin-top: 40px;
  }

  .link-app img {
    width: 240px;
  }

  footer span {
    font-size: 0.8rem;
  }
}

@media (min-width: 960px) and (max-width: 1280px) {
  header {
    height: 90px;
  }

  #aovivo {
    font-size: 1.2rem;
    margin-top: 40px;
  }

  .video-container iframe {
    width: 60%;
  }

  .title-multiview {
    font-size: 3rem;
    font-weight: 500;
  }

  .links-conatiner {
    width: 300px;
    margin-top: 50px;
    gap: 1rem;
  }

  .link-app img {
    width: 180px;
  }

  footer span {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  header {
    height: 80px;
  }

  #logo-header {
    width: 80px;
    height: 80px;
  }

  .link-header {
    font-size: 0.8rem;
  }

  .video-container {
    width: 696px;
  }

  .title-multiview {
    font-size: 2rem;
    font-weight: 500;
  }

  #aovivo {
    font-size: 1rem;
    margin-top: 40px;
  }

  .video-container iframe {
    width: 80%;
  }

  .links-conatiner {
    width: 300px;
    margin-top: 50px;
    gap: 1rem;
  }

  .link-app img {
    width: 180px;
  }

  footer span {
    font-size: 0.8rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  header {
    height: 80px;
  }

  #logo-header {
    width: 80px;
    height: 80px;
  }

  .link-header {
    font-size: 0.8rem;
  }

  .video-container {
    width: 468px;
  }

  .title-multiview {
    font-size: 2rem;
    font-weight: 500;
  }

  #aovivo {
    font-size: 1rem;
  }

  .video-container iframe {
    width: 100%;
  }

  .links-conatiner {
    width: 480px;
  }

  .link-app img {
    width: 180px;
  }

  footer span {
    font-size: 0.8rem;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  header {
    height: 80px;
  }

  #logo-header {
    width: 80px;
    height: 80px;
  }

  .link-header {
    font-size: 0.8rem;
  }

  .multiview-container {
    flex-direction: column;
    gap: 1rem;
  }

  .video-container {
    width: 360px;
    height: 480px;
    margin-top: -80px;
  }

  .title-multiview {
    font-size: 1.6rem;
    font-weight: 400;
  }

  #aovivo {
    font-size: 1rem;
  }

  .video-container iframe {
    width: 100%;
    margin-bottom: -80px;
  }

  #link-apple {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  #link-google {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .links-conatiner {
    width: 360px;
    height: 60px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 20px;
  }

  .link-app img {
    width: 180px;
  }

  footer span {
    font-size: 0.6rem;
  }
}

@media (min-width: 344px) and (max-width: 360px) {
  header {
    height: 80px;
    padding-left: -40px;
  }

  #logo-header {
    width: 60px;
    height: 60px;
  }

  .link-header {
    font-size: 0.6rem;
  }

    .multiview-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

  }

  .video-container {
    width: 320px;
    height: 480px;
    margin-top: -80px;
  }

  .title-multiview {
    font-size: 1.2rem;
    font-weight: 400;
  }

  #aovivo {
    font-size: 1rem;
  }

  .video-container iframe {
    width: 100%;
    margin-bottom: -80px;
  }

  .links-conatiner {
    width: 360px;
    height: 120px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  #link-apple {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  #link-google {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .link-app img {
    width: 120px;
  }

  footer span {
    font-size: 0.6rem;
  }
}
