body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
}

header {
  width: 100%;
  height: 80px;
}

nav {
  width: 100%;
  height: auto;
  font-size: x-large;
  font-weight: 500;
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 7px 17px -4px rgba(255, 255, 255, 0.52);
  -webkit-box-shadow: 0px 7px 17px -4px rgba(255, 255, 255, 0.52);
  -moz-box-shadow: 0px 7px 17px -4px rgba(255, 255, 255, 0.52);
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("./assets/slide-pop.png") fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
}

h2 {
  color: white;
  font-size: 28px;
  font-weight: 500;
  margin-top: 20px;
}

#logo-header {
  margin-top: -30px;
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.4));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nav {
  font-size: 22px;
  margin-top: 12px;
}

.main-container {
  text-align: center;
  display: flex;
  margin-top: 120px;
  flex-direction: column;
}

#multiview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-title-video-container {
  display: flex;
  gap: 8px;
}

#multiview-title {
  color: white;
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.multiview-video-title {
  text-align: center;
}

.multiview-video {
  width: 720px;
  height: auto;
  border: 1px solid #e2e2e2;
  aspect-ratio: 16/9;
  margin: 0 10px 0 10px;
}

#aovivo {
  text-align: left;
  color: #fd3a3a;
  font-weight: 300;
  text-align: left;
}

.video-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 960px;
  height: auto;
  border: 1px solid #e2e2e2;
  aspect-ratio: 16/9;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #252525;
  color: white;
  padding: 20px 0px 20px 0px;
  font-size: large;
}

@media (max-width: 1360px) {
  video {
    width: 720px;
    height: auto;
    border: 1px solid #e2e2e2;
    aspect-ratio: 16/9;
  }
}

@media (max-width: 960px) {
  video {
    width: 540px;
    height: auto;
    border: 1px solid #e2e2e2;
    aspect-ratio: 16/9;
  }

  .nav {
    font-size: large;
  }

  #logo-header {
    width: 100px;
  }

  #aovivo {
    font-size: large;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  #logo-header {
    width: 100px;
  }

  video {
    width: 480px;
    height: auto;
    border: 1px solid #e2e2e2;
    aspect-ratio: 16/9;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #aovivo {
    font-size: large;
    font-weight: 500;
  }
}

@media (max-width: 520px) {
  #logo-header {
    width: 100px;
  }

  video {
    width: 320px;
    height: auto;
    border: 1px solid #e2e2e2;
    aspect-ratio: 16/9;
  }

  nav {
    font-size: medium;
  }

  #aovivo {
    font-size: large;
    font-weight: 500;
  }
}
